<!DOCTYPE html>
<html lang="pt-br">
 <%- include('partials/head.ejs') %> 
<body>
    

    <form action="/register/add" method="POST">
        <div>
            <label>Nome</label>
            <input type="text" name="name" placeholder="Digite seu nome">
        </div>
        <div>
            <label>idade</label>
            <input type="text" name="age" placeholder="Digite sua idade">
        </div>
        <div>
            <label>Email</label>
            <input type="text" name="email" placeholder="Digite seu email">
        </div>
        <div>
            <label>senhas</label>
            <input type="text" name="password" placeholder="Digite sua senha">
        </div>
        <button type="submit">Cadastrar</button>
    </form>

    <%- include('partials/foot.ejs') %> 

</body>
</html>